.avatar {
  background: inherit;
  height: 60px;
  width: 60px;
  border-radius: 10px;
  margin: 3px;
  overflow: hidden;
  display: inline-block;

  & > img {
    max-height: 100%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  &--large {
    height: 80px;
    width: 80px;
    border-radius: 12px;
  }

  &--small {
    height: 36px;
    width: 36px;
    border-radius: 7px;
  }

  &--loading {
    @include animated-gradient;
  }

  &__fallback-icon {
    height: 90% !important;
    width: 90% !important;
    margin: 5%;
  }
}
