@import "./mixins";
@import "./variables";
@import "./vendor-font";
@import "./fonts";

@import "./grid";
@import "./helpers";
@import "./utility";
@import "./tool-tip";

@import "./modules/Colors/colors";
@import "./modules/Display/AppBar/app-bar";
@import "./modules/Display/Avatar/avatar";
@import "./modules/Display/Badge/badge";
@import "./modules/Display/BaseCard/base-card";
@import "./modules/Display/Button/button";
@import "./modules/Display/Card/card";
@import "./modules/Display/Divider/divider";
@import "./modules/Display/Drawer/drawer";
@import "./modules/Display/Expandable/expandable";
@import "./modules/Display/Gradient/gradient";
@import "./modules/Display/Hamburger/hamburger";
@import "./modules/Display/Icon/icon";
@import "./modules/Display/Loader/loader";
@import "./modules/Display/Menu/menu";
@import "./modules/Display/MoreOrLess/more-or-less";
@import "./modules/Display/Pager/pager";
@import "./modules/Display/Popover/popover";
@import "./modules/Display/SelectionBubble/selection-bubble";
@import "./modules/Display/Table/table";
@import "./modules/Display/Tabs/tabs";
@import "./modules/Form/calendar";
@import "./modules/Form/form";
@import "./modules/Form/timepicker";


html, body {
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif' !important;
  font-size: $base-font-size;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  word-break: normal;
  position: relative;
  height: 100%;
}

fieldset {
  border: none;
  width: unset;
  margin: 10px 0;
  padding: 0;

  legend {
    @include avenir-medium;
    font-size: 12px;
    text-transform: uppercase;
    color: $body-grey-color;
    padding: 0;
    margin-bottom: 10px;
    letter-spacing: 1px;

    &.ui-form-field__label {
      @include avenir-heavy-active-xs;
    }
  }
}
