.ui-hamburger {
  flex: 0 1 10px;
  cursor: pointer;

  &__bar1, &__bar2, &__bar3 {
    width: 24px;
    height: 2px;
    background-color: $white;
    margin: 5px 0;
    transition: 0.4s;
  }

  &__bar1--opened {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  &__bar2--opened {
    opacity: 0;
  }

  &__bar3--opened {
    transform: rotate(45deg) translate(-4px, -6px);
  }
}
